.sg-cont{@include clearfix();}

  /* filters */
  .sg-filters{text-align: center;padding: 10px 0 30px}
    .sg-filters a{margin-bottom: 10px;}
    .sg-filters a.active{background-color: transparent;color: $main-color;}
  
  /* patient grid */
  .sg-grid{@include clearfix();}
    .sg-sizer{width: 25%;}
    .sg-grid-item{width: 25%;padding: 6px;box-sizing: border-box;float:left;}
    
      .sg-patient{border-bottom: 4px solid $md-grey;display: block;position: relative;}
        .sg-patient img{width: 100%;height: auto;display: block;}
        .sg-patient span.excerpt{display: block;padding: 20px;margin: 0;background-color: $white;font-size: 13px;position: relative;z-index: 2;box-shadow: 0 0 8px rgba($black,.1);}
        .sg-patient span.overlay{display: block;position: absolute;top:0;right:0;bottom:0;left:0;background-color: rgba($main-color,0);z-index: 1;transition: background-color .6s; &:before{content:"";display: block;position: absolute;top:20px;right: 20px;width: 60px;height: 28px;background-image:url('../images/layout/icon-ba.png');background-position: right top;background-size: contain;background-repeat: no-repeat;transform: translate(-50px,0);opacity: 0;transition:transform .3s, opacity .3s;}}
        
        .sg-patient:hover span.overlay{background-color: rgba($main-color,0.75); &:before{transform: translate(0,0);opacity: 1;}}
      
        .sg-lightbox-set{display: inline-block;margin: 0 auto;box-shadow:0 0 8px rgba($black, 0.6);}
          .sg-lightbox-set img{height:50%;width: auto;display: block;margin: 0 auto;}
  
  
  /* magnific overrides */
  body.smile-gallery .mfp-content{text-align: center;}
  .custom-mfp-close{position: fixed; top:10px; right: 10px; width: 60px;height: 60px;line-height: 60px; text-align: center;padding: 0; margin:0; font-size: 60px;color:$white;transition:opacity .3s;background-color:transparent;border:0 none; &:hover{opacity: .7;}}
  body.smile-gallery .mfp-bottom-bar{display: none;}
   

  /* custom MQs for lightbox */
  @media all and (max-aspect-ratio: 4/5) {
    .sg-lightbox-set{height: auto !important;width: 100% !important;}
      .sg-lightbox-set img{height: auto !important;width: 100% !important;}
  }


@media all and (max-width: $bp-laptop) {
  .sg-sizer,.sg-grid-item{width: 33.333%;}
}

@media all and (max-width: $bp-tablet) {
  .sg-sizer,.sg-grid-item{width: 50%;}
}

@media all and (max-width: $bp-phablet) {
  .sg-patient span.excerpt{display: none;}
  
  .sg-filters a{padding: 4px;font-size: 10px;}
}