.schedule-form{
    background-color: #fff;
    display: block;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 90%;

    .user-info {
        display: flex;

        .name,
        .contact-info,
        .info-select {
            width: 100%;
        }

        .contact-info {
            input[name="RepeatEmailName"] {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                height: 0;
                width: 0;
                z-index: -1;
            }
        }

        .info-select {
            select {
                margin-bottom: 20px;
            }

            .is-placeholder {
                color: #bfbfbf;
            }
        }
    }

    .bottom-info {
        fieldset {
            border: 2px solid #f4f4f4;
            border-radius: 4px;
            margin-bottom: 2em;
            max-width: 96%;
        }
    }

    .captcha-container {
        margin-top: 20px;
    }

    button {
        margin-top: 20px;
        width: 100%;
    }

    label {
        display: inline-block;
        margin-right: 10px;
        font-size: 14px;
        color: #333;
        opacity: 1;
    }

    .s-input {
        display: inline-block;
        width: 99%;
        max-width: 500px;
        height: 40px;
        padding: 9px 10px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 22px;
        border: 1px solid #cbd6e2;
        box-sizing: border-box;
        padding: 0 15px;
        min-height: 27px;
        border-radius: 3px;
        background-color: #f5f8fa;
    }  

    input[type="checkbox"] {
        width: auto;
    }

    textarea {
        max-width: none;
        height: auto;
        padding: 1.75rem 1.5rem;
    }
}
// .schedule-form p{margin:0;font-weight: 600; &:first-child{margin-bottom: 20px;}}
  
@media (max-width: 767px) {
    .schedule-form {
        max-width: 100%;
        padding: 0;
    }
    fieldset {
        padding: 0;
        width: 100%;
    }
    .user-info {
        flex-direction: column;
    }
    .s-input {
        width: 100%;
    }
    #comments {
        width: 100%;
    }
    .schedule-form legend:first-child {
        margin-bottom: 11px;
    }
    .schedule-form legend:first-child,
    .schedule-form input[type="checkbox"]:nth-child(2),
    .schedule-form input[type="checkbox"]:nth-child(8) {
        margin-left: 37px;
    }
}