.schedule-form{background-color: rgba($main-color, .3);border-top:3px solid $main-color;display: block;padding: 20px;box-sizing: border-box;margin: 2em auto;max-width: 700px;}
.schedule-form p{margin:0;font-weight: 600; &:first-child{margin-bottom: 20px;}}
.schedule-form label{display: inline-block;margin-right: 10px;font-size: 14px;opacity:.7;}
.schedule-form input[type="checkbox"]{width: auto;}
.schedule-form select{margin-bottom: 20px;}
.schedule-form .captcha-container{margin-top: 20px;}
.schedule-form button{margin-top: 20px;width: 100%;}
input[name="RepeatEmailName"] { opacity: 0; position: absolute; top: 0; left: 0; height: 0; width: 0; z-index: -1; }