// This is to counteract the base styling of CB2,
// and eventually should be phased out 
.page-wrap {
    .page-head {
        > div {
            > h1 {
                margin-bottom: 0;
            }
        }
    }

    > div {
        .row {
            max-width: unset;
        }
    }
}
/*
    BASE
*/
#picture-grid {
    display: grid;
    margin-bottom: 2em;
}
input {
    padding: 0;
    margin: 0;
    transition: 0;
}
/*
    FILTER
*/
.filter-list {
    text-align: center;
}
.filter {
    margin: 0.5em;
    padding: 0.8em;
    box-shadow: 2px 2px 6px $black;
    background: $main-color;

    &:active,
    &:focus {
        background: $accent;
        color: $white;
    }
}
/*
    GALLERY
*/
.headshot-grid {
    .grid-patient {
        aspect-ratio: 2/3;
    }
}
.headshot-grid,
.before-grid {
    gap: 2em;

    .grid-patient {
        width: 90vw;
    }
}
.before-grid {
    .grid-patient {
        aspect-ratio: 3/2;
    }
}
.headshot-image {
    @include maxSize;
}
.before-after-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.before-image {
    clip: rect(0, 45vw, 60vw, 0);
    z-index: 2;
}
.before-image,
.after-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.slide-container {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.slider {
    @include prefix(appearance, none);
    background: $black;
    outline: none;
    align-self: center;
    z-index: 3;

    &::-webkit-slider-thumb {
        @include prefix(appearance, none);
        @include slider;
    }

    &::-moz-range-thumb {
        @include slider;
    }
}
/*
    BEFORE/AFTER & EXCERPT
*/
.before-grid.excerpt-grid {
    .grid-patient {
        aspect-ratio: 1/1;
    }

    .before-after-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .slide-container {
        height: 100%;
    }

    .before-grid {
        .spacer {
            margin-bottom: 2em;
        }
    }
}
/*
    HEADSHOT & BEFORE/AFTER
*/
.headshot-grid {
    .before-after-container {
        width: 47.5%;
        float: right;
        flex-direction: column;
        justify-content: space-between;

        img {
            position: static;
        }
    }
}
.headshot-grid.before-grid {
    .slide-container {
        display: none;
    }
}
.before-grid .headshot-image {
    width: 47.5%;
    height: 100%;
}
/*
    HEADSHOT & EXCERPT
*/
.spacer-grid {
    .headshot-image {
        margin-bottom: 2em;
    }

    .gallery-excerpt {
        margin-top: -1em;
        margin-bottom: 0;
    }
}
.excerpt-container {
    text-align: center;
}
/*
    HEADSHOT, BEFORE/AFTER & EXCERPT
*/
.headshot-grid.before-grid.excerpt-grid,
.headshot-grid.before-grid.spacer-grid {
    gap: 0;

    .grid-patient {
        aspect-ratio: 3/2;
    }

    .slide-container {
        height: 47%;
        display: block;
        position: absolute;
        top: 0;
    }
}
.headshot-grid.excerpt-grid,
.headshot-grid.spacer-grid {
    .before-after-container {
        flex-direction: column-reverse;
        text-align: center;
        img {
            position: absolute;
        }
    }

    .before-image {
        clip: rect(0, 21.5vw, 30vw, 0);
    }

    .slider {
        height: 100%;
    }
}
.headshot-grid.before-grid .gallery-excerpt {
    margin-bottom: 2em;
    margin-top: 0;
}
/*
    DELUXE
*/
.deluxe-grid {
    .grid-patient {
        padding: 2em;
        background: $main-color;
        border-radius: 0.75em;
        width: 72vw;
        position: relative;
        opacity: 1;
        @include prefix(animation, fadeIn 4s forwards);
    }

    .headshot-image {
        box-shadow: 2px 2px 6px $black;
    }

    .before-image {
        @extend .headshot-image;
        clip: rect(0, 36vw, 48vw, 0);
    }

    .after-image {
        @extend .headshot-image;
    }
}
.deluxe-grid.headshot-grid {
    .gallery-excerpt {
        margin-bottom: 1em;
    }
}
.deluxe-grid.headshot-grid.before-grid {
    .grid-patient {
        padding: 1em;
        width: 81vw;
    }
}
.deluxe-grid.headshot-grid.excerpt-grid,
.deluxe-grid.headshot-grid.spacer-grid {
    .grid-patient {
        padding-bottom: 0;
        width: 72vw;
    }
}
.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
.deluxe-grid.headshot-grid.before-grid.spacer-grid {
    gap: 2em;
    .grid-patient {
        padding-bottom: 0;
        width: 81vw;
    }

    .before-image {
        clip: rect(0, 19.5vw, 26vw, 0);
    }
}
@media screen and (min-width: 601px) {
    .two-column-grid {
        grid-template-columns: repeat(2, 1fr);

        .grid-patient {
            width: 42vw;
        }

        .before-image {
            clip: rect(0, 21vw, 28vw, 0);
        }
    }
    .three-column-grid,
    .four-column-grid,
    .six-column-grid,
    .nine-column-grid {
        @extend .two-column-grid;
    }
    .two-column-grid.headshot-grid.excerpt-grid {
        .before-image {
            clip: rect(0, 10vw, 14vw, 0);
        }
    }
    .two-column-grid.headshot-grid.spacer-grid,
    .three-column-grid.headshot-grid.excerpt-grid,
    .three-column-grid.headshot-grid.spacer-grid,
    .three-column-grid.headshot-grid.excerpt-grid,
    .three-column-grid.headshot-grid.spacer-grid,
    .three-column-grid.headshot-grid.excerpt-grid,
    .three-column-grid.headshot-grid.spacer-grid,
    .three-column-grid.headshot-grid.excerpt-grid,
    .three-column-grid.headshot-grid.spacer-grid {
        @extend .two-column-grid.headshot-grid.excerpt-grid;
    }
    .headshot-grid.before-grid {
        .gallery-excerpt {
            margin-bottom: 6em;
        }
    }
    .two-column-grid.headshot-grid.before-grid {
        .gallery-excerpt {
            margin-bottom: 1.5em;
        }
    }
    .three-column-grid.headshot-grid.before-grid,
    .four-column-grid.headshot-grid.before-grid,
    .six-column-grid.headshot-grid.before-grid,
    .nine-column-grid.headshot-grid.before-grid {
        @extend .two-column-grid.headshot-grid.before-grid;
    }
    .headshot-grid.before-grid.excerpt-grid,
    .headshot-grid.before-grid.spacer-grid {
        .slide-container {
            height: 42%;
        }
    }
    .two-column-grid.headshot-grid.before-grid.excerpt-grid {
        gap: 1em;
    }
    .two-column-grid.headshot-grid.before-grid.spacer-grid,
    .three-column-grid.headshot-grid.before-grid.excerpt-grid,
    .three-column-grid.headshot-grid.before-grid.spacer-grid,
    .four-column-grid.headshot-grid.before-grid.excerpt-grid,
    .four-column-grid.headshot-grid.before-grid.spacer-grid,
    .six-column-grid.headshot-grid.before-grid.excerpt-grid,
    .six-column-grid.headshot-grid.before-grid.spacer-grid,
    .nine-column-grid.headshot-grid.before-grid.excerpt-grid,
    .nine-column-grid.headshot-grid.before-grid.spacer-grid {
        @extend .two-column-grid.headshot-grid.before-grid.excerpt-grid;

        .grid-patient {
            width: 43vw;
        }
    }
    .before-grid.excerpt-grid,
    .before-grid.spacer-grid {
        .grid-patient {
            aspect-ratio: 1.3/1;
        }
    }
    .excerpt-grid,
    .spacer-grid {
        .headshot-image {
            height: 90%;
        }
    }
    .deluxe-grid {
        .grid-patient {
            width: 79vw;
            padding: 1em;
        }
        .before-image {
            clip: rect(0, 40vw, 54vw, 0);
        }
    }
    .two-column-grid.deluxe-grid {
        .grid-patient {
            width: 32vw;
        }
        .before-image {
            clip: rect(0, 19vw, 25.4vw, 0);
        }
    }
    .three-column-grid.deluxe-grid,
    .four-column-grid.deluxe-grid,
    .six-column-grid.deluxe-grid,
    .nine-column-grid.deluxe-grid {
        @extend .two-column-grid.deluxe-grid;
    }
    .deluxe-grid.headshot-grid {
        .gallery-excerpt {
            margin-bottom: 0;
            margin-top: -1.6em;
        }
    }
    .deluxe-grid.headshot-grid.before-grid {
        .grid-patient {
            width: 85vw;
        }

        .gallery-excerpt {
            margin-bottom: 7em;
        }
    }
    .two-column-grid.deluxe-grid.headshot-grid.before-grid {
        .grid-patient {
            width: 37vw;
        }

        .gallery-excerpt {
            margin-bottom: 2em;
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.before-grid,
    .four-column-grid.deluxe-grid.headshot-grid.before-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid {
        @extend .two-column-grid.deluxe-grid.headshot-grid.before-grid;
    }
    .deluxe-grid.headshot-grid.excerpt-grid,
    .deluxe-grid.headshot-grid.spacer-grid {
        @extend .deluxe-grid;
        
        .before-image {
            clip: rect(0, 20vw, 27vw, 0);
        }
    }
    .two-column-grid.deluxe-grid.headshot-grid.excerpt-grid
    .two-column-grid.deluxe-grid.headshot-grid.spacer-grid {
        .grid-patient {
            width: 31vw;
            padding-bottom: 1em;
        }

        .before-image {
            clip: rect(0, 9vw, 12vw, 0);
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .three-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .four-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .four-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .six-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .six-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.spacer-grid {
        @extend .two-column-grid.deluxe-grid.headshot-grid.excerpt-grid;

        .grid-patient {
            width: 38vw;
        }
    }
    .deluxe-grid.before-grid {
        gap: 1em;

        .grid-patient {
            width: 80vw;
        }
    }
    .two-column-grid.deluxe-grid.before-grid {
        .grid-patient {
            width: 38vw;
        }
    }
    .three-column-grid.deluxe-grid.before-grid,
    .four-column-grid.deluxe-grid.before-grid,
    .six-column-grid.deluxe-grid.before-grid,
    .nine-column-grid.deluxe-grid.before-grid {
        @extend .two-column-grid.deluxe-grid.before-grid;
    }
    .two-column-grid.deluxe-grid.before-grid.excerpt-grid {
        .grid-patient {
            aspect-ratio: 1.2/1;
        }

        .headshot-image {
            margin-bottom: 0;
        }
    }
    .two-column-grid.deluxe-grid.before-grid.spacer-grid,
    .three-column-grid.deluxe-grid.before-grid.excerpt-grid,
    .three-column-grid.deluxe-grid.before-grid.spacer-grid,
    .four-column-grid.deluxe-grid.before-grid.excerpt-grid,
    .four-column-grid.deluxe-grid.before-grid.spacer-grid,
    .six-column-grid.deluxe-grid.before-grid.excerpt-grid,
    .six-column-grid.deluxe-grid.before-grid.spacer-grid,
    .nine-column-grid.deluxe-grid.before-grid.excerpt-grid,
    .nine-column-grid.deluxe-grid.before-grid.spacer-grid {
        @extend .two-column-grid.deluxe-grid.before-grid.excerpt-grid;
    }
    .deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .deluxe-grid.headshot-grid.before-grid.spacer-grid {
        .grid-patient {
            aspect-ratio: 1.3/1;
            width: 85vw;
        }
    }
    .two-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid {
        .headshot-image {
            height: 100%;
        }
    }
    .two-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .three-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .three-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .four-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .four-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid {
        @extend .two-column-grid.deluxe-grid.headshot-grid.before-grid.before-grid.excerpt-grid;
    }
}
@media screen and (min-width: 768px) {
    .two-column-grid {
        .grid-patient {
            width: 43vw;
        }
    }
    .three-column-grid {
        grid-template-columns: repeat(3, 1fr);
        
        .grid-patient {
            width: 27vw;
        }

        .before-image {
            clip: rect(0, 13.6vw, 18vw, 0);
        }
    }
    .four-column-grid {
        grid-template-columns: repeat(4, 1fr);

        .grid-patient {
            width: 19vw;
        }

        .before-image {
            clip: rect(0, 9.5vw, 13vw, 0);
        }
    }
    .six-column-grid,
    .nine-column-grid {
        @extend .four-column-grid;
    }
    .six-column-grid.headshot-grid,
    .nine-column-grid.headshot-grid,
    .six-column-grid.before-grid,
    .nine-column-grid.before-grid,
    .six-column-grid.deluxe-grid.headshot-grid,
    .nine-column-grid.deluxe-grid.headshot-grid {
        @extend .four-column-grid;
    }
    .headshot-grid.before-grid {
        .gallery-excerpt {
            font-size: 24px;
            margin-bottom: 4em;
        }
    }
    .two-column-grid.headshot-grid.before-grid {
        .gallery-excerpt {
            font-size: 16px;
            margin-bottom: 1em;
        }
    }
    .three-column-grid.headshot-grid.before-grid,
    .four-column-grid.headshot-grid.before-grid,
    .six-column-grid.headshot-grid.before-grid,
    .nine-column-grid.headshot-grid.before-grid {
        @extend .two-column-grid.headshot-grid.before-grid;
    }
    .four-column-grid.headshot-grid.before-grid,
    .six-column-grid.headshot-grid.before-grid,
    .nine-column-grid.headshot-grid.before-grid,
    .four-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .four-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .six-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .six-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .four-column-grid.deluxe-grid.before-grid,
    .six-column-grid.deluxe-grid.before-grid,
    .nine-column-grid.deluxe-grid.before-grid {
        @extend .three-column-grid;
    }
    .three-column-grid.headshot-grid.before-grid.excerpt-grid {
        .grid-patient {
            width: 28vw;
        }
    }
    .three-column-grid.headshot-grid.before-grid.spacer-grid .grid-patient,
    .four-column-grid.headshot-grid.before-grid.excerpt-grid .grid-patient,
    .four-column-grid.headshot-grid.before-grid.spacer-grid .grid-patient,
    .six-column-grid.headshot-grid.before-grid.excerpt-grid .grid-patient,
    .six-column-grid.headshot-grid.before-grid.spacer-grid .grid-patient,
    .nine-column-grid.headshot-grid.before-grid.excerpt-grid .grid-patient,
    .nine-column-grid.headshot-grid.before-grid.spacer-grid .grid-patient {
        @extend .three-column-grid.headshot-grid.before-grid.excerpt-grid;
    }
    .before-grid {
        .gallery-excerpt {
            margin-bottom: 2em;
        }
    }
    .two-column-grid.before-grid {
        .gallery-excerpt {
            margin-bottom: 0;
        }
    }
    .three-column-grid.before-grid {
        .gallery-excerpt {
            margin-top: 0;
            margin-bottom: -1em;
        }
    }
    .four-column-grid.before-grid {
        .gallery-excerpt {
            margin-bottom: -0.5em;
            font-size: 13px;
        }
    }
    .six-column-grid.before-grid,
    .nine-column-grid.before-grid {
        @extend .four-column-grid.before-grid;
    }
    .excerpt-grid,
    .spacer-grid {
        .headshot-image {
            height: 100%;
        }
    }
    .two-column-grid.before-grid,
    .three-column-grid.before-grid,
    .four-column-grid.before-grid,
    .six-column-grid.before-grid,
    .nine-column-grid.before-grid,
    .before-grid.excerpt-grid {
        @extend .excerpt-grid;
    }
    .two-column-grid.excerpt-grid,
    .two-column-grid.spacer-grid {
        .before-image {
            clip: rect(0, 21.4vw, 29vw, 0);
        }
    }
    .three-column-grid.before-grid.excerpt-grid,
    .three-column-grid.before-grid.spacer-grid {
        .slider {
            margin-bottom: 1em;
        }
    }
    .four-column-grid.before-grid.excerpt-grid {
        .slider {
            margin-bottom: 0;
        }
    }
    .four-column-grid.before-grid.spacer-grid,
    .six-column-grid.before-grid.excerpt-grid,
    .six-column-grid.before-grid.spacer-grid,
    .nine-column-grid.before-grid.excerpt-grid,
    .nine-column-grid.before-grid.spacer-grid {
        @extend .four-column-grid.before-grid.excerpt-grid;
    }
    .deluxe-grid {
        .grid-patient {
            width: 82vw;
        }

        .before-image {
            clip: rect(0, 41vw, 55vw, 0);
        }
    }
    .two-column-grid.deluxe-grid {
        .grid-patient {
            width: 34vw;
        }

        .before-image {
            clip: rect(0, 20vw, 26.7vw, 0);
        }
    }
    .three-column-grid.deluxe-grid {
        .grid-patient {
            width: 19vw;
            padding-bottom: 1.5em;
        }

        .before-image {
            clip: rect(0, 9.5vw, 13vw, 0);
        }
    }
    .four-column-grid.deluxe-grid {
        .grid-patient {
            width: 11vw;
        }

        .before-image {
            clip: rect(0, 9.5vw, 13vw, 0);
        }
    }
    .six-column-grid.deluxe-grid,
    .nine-column-grid.deluxe-grid {
        @extend .four-column-grid.deluxe-grid;
    }
    .deluxe-grid.headshot-grid.before-grid {
        .grid-patient {
            width: 86vw;
        }
    }
    .two-column-grid.deluxe-grid.headshot-grid.before-grid {
        .grid-patient {
            width: 39vw;
            padding-bottom: 1em;
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.before-grid {
        .grid-patient {
            width: 23vw;
            padding-bottom: 1em;
        }
    }
    .deluxe-grid.headshot-grid.excerpt-grid,
    .deluxe-grid.headshot-grid.spacer-grid {
        @extend .deluxe-grid;

        .grid-patient {
            padding-bottom: 1em;
        }

        .before-image {
            clip: rect(0, 20.5vw, 28vw, 0);
        }
    }
    .two-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .two-column-grid.deluxe-grid.headshot-grid.spacer-grid {
        .grid-patient {
            width: 34vw;
            padding-bottom: 1em;
        }

        .before-image {
            clip: rect(0, 9.5vw, 12.6vw, 0);
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.excerpt-grid {
        .grid-patient {
            width: 19vw;
            padding-bottom: 1em;
        }

        .before-image {
            clip: rect(0, 9.5vw, 12.6vw, 0);
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .four-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .four-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .six-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .six-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.spacer-grid {
        @extend .three-column-grid.deluxe-grid.headshot-grid.excerpt-grid;

        .grid-patient {
            padding-bottom: 1em;
        }
    }
    .four-column-grid.deluxe-grid.headshot-grid.before-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid {
        @extend .three-column-grid.deluxe-grid.headshot-grid.before-grid;
    }
    .deluxe-grid.before-grid {
        .grid-patient {
            width: 82vw;
        }

        .gallery-excerpt {
            margin-top: 0;
            margin-bottom: -1em;
        }
    }
    .two-column-grid.deluxe-grid.before-grid {
        .grid-patient {
            width: 40vw;
            padding-bottom: 2em;
        }
    }
    .three-column-grid.deluxe-grid.before-grid {
        .grid-patient {
            padding-bottom: 2em;
            width: 19vw;
        }

        .gallery-excerpt {
            margin-bottom: -1.5em;
        }
    }
    .four-column-grid.deluxe-grid.before-grid,
    .six-column-grid.deluxe-grid.before-grid,
    .nine-column-grid.deluxe-grid.before-grid {
        @extend .three-column-grid.deluxe-grid.before-grid;
    }
    .deluxe-grid.before-grid.excerpt-grid,
    .deluxe-grid.before-grid.spacer-grid {
        .grid-patient {
            aspect-ratio: 1.4/1;
        }
    }
    .two-column-grid.deluxe-grid.before-grid.excerpt-grid {
        .grid-patient {
            aspect-ratio: 1.3/1;
        }
    }
    .two-column-grid.deluxe-grid.before-grid.spacer-grid,
    .three-column-grid.deluxe-grid.before-grid.excerpt-grid,
    .three-column-grid.deluxe-grid.before-grid.spacer-grid,
    .four-column-grid.deluxe-grid.before-grid.excerpt-grid,
    .four-column-grid.deluxe-grid.before-grid.spacer-grid,
    .six-column-grid.deluxe-grid.before-grid.excerpt-grid,
    .six-column-grid.deluxe-grid.before-grid.spacer-grid,
    .nine-column-grid.deluxe-grid.before-grid.excerpt-grid,
    .nine-column-grid.deluxe-grid.before-grid.spacer-grid {
        @extend .two-column-grid.deluxe-grid.before-grid.excerpt-grid;
    }
    .two-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .two-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid {
        .grid-patient {
            width: 40vw;
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid {
        grid-template-columns: repeat(2, 1fr);

        .grid-patient {
            width: 40vw;
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .four-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .four-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid {
        @extend .three-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid;
    }
}
@media screen and (min-width: 810px) {
    .two-column-grid {
        .before-image {
            clip: rect(0, 21.5vw, 29vw, 0);
        }
    }
    .three-column-grid.headshot-grid.excerpt-grid,
    .three-column-grid.headshot-grid.spacer-grid {
        .before-image {
            clip: rect(0, 6.7vw, 10vw, 0);
        }
    }
}
@media screen and (min-width: 962px) {
    #picture-grid {
        justify-content: center;
    }
    .before-image {
        clip: rect(0, 20vw, 28vw, 0);
    }
    .two-column-grid {
        .before-image {
            clip: rect(0, 21.5vw, 29vw, 0);
        }
    }
    .three-column-grid {
        grid-template-columns: repeat(3, 1fr);

        .grid-patient {
            width: 25vw;
        }

        .headshot-image {
            height: 100%;
        }

        .before-image {
            clip: rect(0, 13.7vw, 19vw, 0);
        }
    }
    .four-column-grid,
    .six-column-grid,
    .nine-column-grid {
        grid-template-columns: repeat(4, 1fr);

        .grid-patient {
            width: 17vw;
        }

        .headshot-image {
            height: 100%;
        }

        .before-image {
            clip: rect(0, 10vw, 14vw, 0);
        }
    }
    .two-column-grid.before-grid {
        .grid-patient {
            width: 43vw;
        }
    }
    .two-column-grid.headshot-grid.before-grid {
        @extend .two-column-grid.before-grid;
    }
    .three-column-grid.headshot-grid.before-grid,
    .four-column-grid.headshot-grid.before-grid,
    .six-column-grid.headshot-grid.before-grid,
    .nine-column-grid.headshot-grid.before-grid {
        grid-template-columns: repeat(3, 1fr);

        .grid-patient {
            width: 27.5vw;
        }
    }
    .three-column-grid.headshot-grid.excerpt-grid {
        gap: 4em;
    }
    .four-column-grid.headshot-grid.excerpt-grid,
    .six-column-grid.headshot-grid.excerpt-grid,
    .nine-column-grid.headshot-grid.excerpt-grid {
        @extend .three-column-grid.headshot-grid.excerpt-grid;
    }
    .before-grid {
        .grid-patient {
            width: 40vw;
        }
    }
    .three-column-grid.before-grid {
        .grid-patient {
            width: 27.5vw;
        }
    }
    .four-column-grid.before-grid,
    .six-column-grid.before-grid,
    .nine-column-grid.before-grid {
        .grid-patient {
            width: 20vw;
        }
    }
    .before-grid.excerpt-grid,
    .before-grid.spacer-grid {
        .grid-patient {
            aspect-ratio: 1.1/1;
        }
    }
    .two-column-grid.before-grid.excerpt-grid .grid-patient {
        aspect-ratio: 1.4/1;
    }
    .four-column-grid.headshot-grid.excerpt-grid {
        .before-image {
            clip: rect(0, 6.7vw, 10vw, 0);
        }
    }
    .four-column-grid.headshot-grid.spacer-grid,
    .six-column-grid.headshot-grid.excerpt-grid,
    .six-column-grid.headshot-grid.spacer-grid,
    .nine-column-grid.headshot-grid.excerpt-grid,
    .nine-column-grid.headshot-grid.spacer-grid {
        @extend .four-column-grid.headshot-grid.before-grid.excerpt-grid;
    }
    .two-column-grid.headshot-grid.before-grid {
        .gallery-excerpt {
            margin-bottom: 3em;
        }
    }
    .three-column-grid.headshot-grid.before-grid {
        .gallery-excerpt {
            margin-bottom: 1em;
        }
    }
    .four-column-grid.headshot-grid.before-grid,
    .six-column-grid.headshot-grid.before-grid,
    .nine-column-grid.headshot-grid.before-grid {
        @extend .three-column-grid.headshot-grid.before-grid;
    }
    .deluxe-grid {
        .before-image {
            clip: rect(0, 41.5vw, 55.4vw, 0);
        }
    }
    .two-column-grid.deluxe-grid {
        .grid-patient {
            width: 36vw;
        }

        .headshot-image {
            height: 100%;
        }

        .before-image {
            clip: rect(0, 20.5vw, 27.3vw, 0);
        }
    }
    .three-column-grid.deluxe-grid {
        .grid-patient {
            width: 21vw;
        }

        .before-image {
            clip: rect(0, 10.5vw, 14vw, 0);
        }
    }
    .four-column-grid.deluxe-grid,
    .six-column-grid.deluxe-grid,
    .nine-column-grid.deluxe-grid {
        .grid-patient {
            width: 13vw;
        }

        .before-image {
            clip: rect(0, 6.5vw, 8.8vw, 0);
        }
    }
    .deluxe-grid.headshot-grid.before-grid {
        .grid-patient {
            width: 83vw;
        }
    }
    .deluxe-grid.headshot-grid.excerpt-grid,
    .deluxe-grid.headshot-grid.spacer-grid {
        @extend .deluxe-grid.headshot-grid.before-grid;

        .before-image {
            clip: rect(0, 19.75vw, 26vw, 0);
        }
    }
    .deluxe-grid.excerpt-grid,
    .deluxe-grid.spacer-grid {
        .headshot-image {
            height: 95%;
        }
    }
    .two-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .two-column-grid.deluxe-grid.headshot-grid.spacer-grid {
        .grid-patient {
            padding-bottom: 2em;
        }
    }
    .deluxe-grid.headshot-grid.before-grid {
        .grid-patient {
            padding: 2em;
        }
    }
    .two-column-grid.deluxe-grid.headshot-grid.before-grid {
        .grid-patient {
            width: 36.5vw;
            padding-bottom: 2em;
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.before-grid,
    .four-column-grid.deluxe-grid.headshot-grid.before-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid {
        .grid-patient {
            width: 21vw;
            padding-bottom: 2em;
        }
    }
    .two-column-grid.deluxe-grid.headshot-grid.excerpt-grid {
        .grid-patient {
            width: 36.5vw;
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.excerpt-grid {
        gap: 1em;

        .grid-patient {
            width: 22vw;
        }
    }
    .four-column-grid.deluxe-grid.headshot-grid.excerpt-grid {
        .grid-patient {
            width: 14vw;
        }
    }
    .four-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .six-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .six-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.spacer-grid {
        grid-template-columns: repeat(4, 1fr);
        
        @extend .four-column-grid.deluxe-grid.headshot-grid.excerpt-grid;
    }
    .deluxe-grid.before-grid {
        .grid-patient {
            width: 83vw;
        }
    }
    .two-column-grid.deluxe-grid.before-grid {
        .grid-patient {
            width: 41vw;
        }

        .spacer {
            margin-bottom: 4em;
        }
    }
    .three-column-grid.deluxe-grid.before-grid {
        .grid-patient {
            width: 21vw;
        }

        .spacer {
            margin-bottom: 1em;
        }
    }
    .four-column-grid.deluxe-grid.before-grid,
    .six-column-grid.deluxe-grid.before-grid,
    .nine-column-grid.deluxe-grid.before-grid {
        grid-template-columns: repeat(4, 1fr);

        .grid-patient {
            width: 13vw;
        }

        .spacer {
            margin-bottom: 1em;
        }
    }
    .deluxe-grid.headshot-grid.before-grid {
        .gallery-excerpt {
            margin-bottom: 6em;
        }
    }
    .two-column-grid.deluxe-grid.headshot-grid.before-grid {
        .gallery-excerpt {
            margin-bottom: 3em;
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.before-grid,
    .four-column-grid.deluxe-grid.headshot-grid.before-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid {
        @extend .two-column-grid.deluxe-grid.headshot-grid.before-grid;
    }
    .deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .deluxe-grid.headshot-grid.before-grid.spacer-grid {
        @extend .deluxe-grid.before-grid;
    }
    .two-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid {
        .grid-patient {
            width: 37vw;
        }

        .before-image {
            clip: rect(0, 9vw, 11.7vw, 0);
        }
    }
    .two-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .three-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .three-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .four-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .four-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid {
        @extend .two-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid;
    }
}
@media screen and (min-width: 1280px) {
    .three-column-grid.before-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .three-column-grid.deluxe-grid.before-grid,
    .three-column-grid.headshot-grid.before-grid,
    .three-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .three-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .four-column-grid.headshot-grid.before-grid,
    .six-column-grid.headshot-grid.before-grid,
    .nine-column-grid.headshot-grid.before-grid,
    .four-column-grid.deluxe-grid.headshot-grid.before-grid,
    .four-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .four-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid {
        @extend .three-column-grid.before-grid;
    }
    .four-column-grid.headshot-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .four-column-grid.before-grid,
    .four-column-grid.headshot-grid.before-grid,
    .four-column-grid.deluxe-grid.before-grid,
    .six-column-grid.deluxe-grid.headshot-grid,
    .six-column-grid.before-grid,
    .six-column-grid.headshot-grid.before-grid,
    .six-column-grid.deluxe-grid.before-grid,
    .nine-column-grid.deluxe-grid.headshot-grid,
    .nine-column-grid.before-grid,
    .nine-column-grid.headshot-grid.before-grid,
    .nine-column-grid.deluxe-grid.before-grid {
        @extend .four-column-grid.headshot-grid;
    }
    .six-column-grid.headshot-grid,
    .nine-column-grid.headshot-grid {
        grid-template-columns: repeat(6, 1fr);
    }
    .headshot-grid {
        .grid-patient {
            width: 45vw;
        }
    }
    .two-column-grid.headshot-grid {
        .grid-patient {
            width: 43vw;
        }
    }
    .three-column-grid.headshot-grid {
        .grid-patient {
            width: 28vw;
        }
    }
    .four-column-grid.headshot-grid {
        .grid-patient {
            width: 18vw;
        }
    }
    .six-column-grid.headshot-grid,
    .nine-column-grid.headshot-grid {
        .grid-patient {
            width: 10vw;
        }
    }
    .three-column-grid.headshot-grid.before-grid {
        .gallery-excerpt {
            margin-bottom: 4em;
        }
    }
    .four-column-grid.headshot-grid.before-grid,
    .six-column-grid.headshot-grid.before-grid,
    .nine-column-grid.headshot-grid.before-grid {
        .grid-patient {
            width: 21vw;
        }

        .gallery-excerpt {
            margin-bottom: 1em;
        }
    }
    .three-column-grid.headshot-grid.excerpt-grid,
    .three-column-grid.headshot-grid.spacer-grid {
        .grid-patient {
            width: 26vw;
        }
    }
    .before-grid {
        .grid-patient {
            width: 35vw;
        }

        .spacer {
            margin-bottom: 0;
        }
    }
    .grid-patient {
        margin: 0 auto;
        width: 50vw;
    }
    .deluxe-grid.headshot-grid.before-grid,
    .deluxe-grid.before-grid,
    .deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .deluxe-grid.headshot-grid.before-grid.spacer-grid {
        .grid-patient {
            @extend .grid-patient;
        }
    }
    .two-column-grid.deluxe-grid.headshot-grid {
        .grid-patient {
            width: 38vw;
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid {
        .grid-patient {
            width: 23vw;
        }
    }
    .four-column-grid.deluxe-grid.headshot-grid,
    .six-column-grid.deluxe-grid.headshot-grid,
    .nine-column-grid.deluxe-grid.headshot-grid {
        .grid-patient {
            width: 15vw;
        }
    }
    .deluxe-grid.headshot-grid.excerpt-grid,
    .deluxe-grid.headshot-grid.spacer-grid {
        .grid-patient {
            width: 45vw;
        }
    }
    .two-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .two-column-grid.deluxe-grid.headshot-grid.spacer-grid {
        .grid-patient {
            width: 38vw;
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .three-column-grid.deluxe-grid.headshot-grid.spacer-grid {
        .grid-patient {
            width: 23vw;
        }
    }
    .four-column-grid.deluxe-grid.headshot-grid.excerpt-grid {
        .grid-patient {
            width: 16vw;
        }
    }
    .four-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .six-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .six-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.spacer-grid {
        @extend .four-column-grid.deluxe-grid.headshot-grid.excerpt-grid;
    }
    .three-column-grid.before-grid.excerpt-grid,
    .three-column-grid.before-grid.spacer-grid {
        .spacer {
            margin-bottom: 2em;
        }
    }
    .deluxe-grid.headshot-grid.before-grid {
        .gallery-excerpt {
            margin-bottom: 4em;
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.before-grid {
        .gallery-excerpt {
            margin-bottom: 5em;
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.before-grid,
    .four-column-grid.deluxe-grid.headshot-grid.before-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid {
        .grid-patient {
            width: 23vw;
        }

        .gallery-excerpt {
            margin-bottom: 4em;
        }
    }
    .three-column-grid.headshot-grid.before-grid.excerpt-grid,
    .three-column-grid.headshot-grid.before-grid.spacer-grid {
        .grid-patient {
            width: 26vw;
        }
    }
    .four-column-grid.headshot-grid.before-grid.excerpt-grid {
        .grid-patient {
            width: 21vw;
        }
    }
    .four-column-grid.headshot-grid.before-grid.spacer-grid,
    .six-column-grid.headshot-grid.before-grid.excerpt-grid,
    .six-column-grid.headshot-grid.before-grid.spacer-grid,
    .nine-column-grid.headshot-grid.before-grid.excerpt-grid,
    .nine-column-grid.headshot-grid.before-grid.spacer-grid {
        @extend .four-column-grid.headshot-grid.before-grid.excerpt-grid;
    }
    .three-column-grid.before-grid {
        .grid-patient {
            width: 28vw;
        }
    }
    .four-column-grid.before-grid,
    .six-column-grid.before-grid,
    .nine-column-grid.before-grid {
        .grid-patient {
            width: 20vw;
        }
    }
    .two-column-grid.deluxe-grid.before-grid {
        @extend .before-grid;
    }
    .three-column-grid.deluxe-grid.before-grid {
        .grid-patient {
            width: 23vw;
        }
    }
    .four-column-grid.deluxe-grid.before-grid,
    .six-column-grid.deluxe-grid.before-grid,
    .nine-column-grid.deluxe-grid.before-grid {
        .grid-patient {
            width: 15vw;
        }
    }
    .two-column-grid.deluxe-grid.before-grid.excerpt-grid,
    .two-column-grid.deluxe-grid.before-grid.spacer-grid {
        .grid-patient {
            aspect-ratio: 1.4/1;
        }
    }
    .two-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .two-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid {
        .grid-patient {
            width: 38vw;
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid {
        .grid-patient {
            width: 23vw;
            padding-bottom: 2em;
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .four-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .four-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid.spacer-grid {
        @extend .three-column-grid.deluxe-grid.headshot-grid.before-grid.excerpt-grid;
    }
    .before-image {
        clip: rect(0, 17.5vw, 25vw, 0);
    }
    .three-column-grid {
        .before-image {
            clip: rect(0, 14vw, 19vw, 0);
        }
    }
    .four-column-grid,
    .six-column-grid,
    .nine-column-grid {
        .before-image {
            clip: rect(0, 10vw, 14vw, 0);
        }
    }
    .deluxe-grid {
        .before-image {
            clip: rect(0, 25vw, 33.4vw, 0);
        }
    }
    .three-column-grid.deluxe-grid {
        .before-image {
            clip: rect(0, 11.5vw, 15.4vw, 0);
        }
    }
    .four-column-grid.deluxe-grid,
    .six-column-grid.deluxe-grid,
    .nine-column-grid.deluxe-grid {
        .grid-patient {
            clip: rect(0, 7.5vw, 10vw, 0);
        }
    }
    .headshot-grid.excerpt-grid,
    .headshot-grid.spacer-grid {
        .before-image {
            clip: rect(0, 11.9vw, 16vw, 0);
        }
    }
    .three-column-grid.headshot-grid.excerpt-grid,
    .three-column-grid.headshot-grid.spacer-grid {
        .before-image {
            clip: rect(0, 6.2vw, 9vw, 0);
        }
    }
    .four-column-grid.headshot-grid.excerpt-grid {
        .before-image {
            clip: rect(0, 5vw, 7vw, 0);
        }
    }
    .four-column-grid.headshot-grid.spacer-grid,
    .six-column-grid.headshot-grid.excerpt-grid,
    .six-column-grid.headshot-grid.spacer-grid,
    .nine-column-grid.headshot-grid.excerpt-grid,
    .nine-column-grid.headshot-grid.spacer-grid {
        @extend .four-column-grid.headshot-grid.excerpt-grid;
    }
    .deluxe-grid.headshot-grid.excerpt-grid,
    .deluxe-grid.headshot-grid.spacer-grid {
        .before-image {
            clip: rect(0, 12vw, 16vw, 0);
        }
    }
    .two-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .two-column-grid.deluxe-grid.headshot-grid.spacer-grid {
        .before-image {
            clip: rect(0, 9vw, 12vw, 0);
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.excerpt-grid {
        .before-image {
            clip: rect(0, 5.5vw, 7.2vw, 0);
        }
    }
    .three-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .four-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .four-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .six-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .six-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.spacer-grid {
        @extend .three-column-grid.deluxe-grid.headshot-grid.excerpt-grid;
    }
    .three-column-grid.deluxe-grid.excerpt-grid,
    .three-column-grid.deluxe-grid.spacer-grid {
        .before-image {
            clip: rect(0, 11.5vw, 15.4vw, 0);
        }
    }
}
@media screen and (min-width: 1366px) {
    .nine-column-grid.headshot-grid {
        grid-template-columns: repeat(9, 1fr);

        .grid-patient {
            width: 7vw;
        }
    }
    .nine-column-grid.headshot-grid.excerpt-grid,
    .nine-column-grid.headshot-grid.spacer-grid {
        .grid-patient {
            width: 5vw;
        }
    }
    .two-column-grid.headshot-grid.before-grid {
        .grid-patient {
            width: 42vw;
        }
    }
    .four-column-grid.headshot-grid.before-grid {
        .grid-patient {
            width: 20vw;
        }
    }
    .before-grid {
        .grid-patient {
            width: 30vw;
        }
    }
    .three-column-grid.before-grid {
        .grid-patient {
            width: 27vw;
        }
    }
    .before-image {
        clip: rect(0, 15vw, 20vw, 0);
    }
    .three-column-grid {
        .before-image {
            clip: rect(0, 13.5vw, 18vw, 0);
        }
    }
}
@media screen and (min-width: 1440px) {
    .six-column-grid,
    .nine-column-grid {
        .before-image {
            clip: rect(0, 6.5vw, 13vw, 0);
        }
    }
    .four-column-grid.headshot-grid.before-grid {
        .gallery-excerpt {
            margin-bottom: 3em;
        }
    }
    .six-column-grid.headshot-grid.before-grid,
    .nine-column-grid.headshot-grid.before-grid {
        .grid-patient {
            width: 20vw;
        }

        @extend .four-column-grid.headshot-grid.before-grid;
    }
    .before-grid {
        .grid-patient {
            width: 35vw;
        }
    }
    .six-column-grid.before-grid,
    .nine-column-grid.before-grid {
        grid-template-columns: repeat(6, 1fr);

        .grid-patient {
            width: 13vw;
        }
    }
    .six-column-grid.deluxe-grid.headshot-grid,
    .nine-column-grid.deluxe-grid.headshot-grid {
        grid-template-columns: repeat(6, 1fr);

        .grid-patient {
            width: 8vw;
        }
    }
    .six-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .six-column-grid.deluxe-grid.headshot-grid.spacer-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.excerpt-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.spacer-grid {
        @extend .six-column-grid.deluxe-grid.headshot-grid;

        .grid-patient {
            width: 9vw;
        }
    }
    .four-column-grid.deluxe-grid.headshot-grid.before-grid,
    .six-column-grid.deluxe-grid.headshot-grid.before-grid,
    .nine-column-grid.deluxe-grid.headshot-grid.before-grid {
        grid-template-columns: repeat(4, 1fr);

        .grid-patient {
            width: 16vw;
        }
    }
    .before-image {
        clip: rect(0, 17.5vw, 25vw, 0);
    }
}
@media screen and (min-width: 1536px) {
    .before-grid {
        .grid-patient {
            width: 40vw;
        }
    }
    .two-column-grid.deluxe-grid {
        .before-image {
            clip: rect(0, 17vw, 24vw, 0);
        }
    }
    .two-column-grid.deluxe-grid.before-grid {
        .grid-patient {
            width: 42vw;
        }
    }
    .two-column-grid.deluxe-grid.excerpt-grid,
    .two-column-grid.deluxe-grid.spacer-grid {
        .before-image {
            clip: rect(0, 21vw, 28vw, 0);
        }
    }
    .before-image {
        clip: rect(0, 20vw, 27vw, 0);
    }
}
@media screen and (min-width: 1600px) {
    .before-grid {
        .grid-patient {
            width: 32vw;
        }
    }
    .two-column-grid.deluxe-grid {
        .before-image {
            clip: rect(0, 16.25vw, 22vw, 0);
        }
    }
    .two-column-grid.deluxe-grid.before-grid {
        .grid-patient {
            width: 32.5vw;
        }
    }
    .two-column-grid.deluxe-grid.before-grid.excerpt-grid,
    .two-column-grid.deluxe-grid.before-grid.spacer-grid {
        .grid-patient {
            width: 42vw;
        }
    }
    .before-image {
        clip: rect(0, 16vw, 22vw, 0);
    }
}
@media screen and (min-width: 1900px) {
    .two-column-grid.deluxe-grid {
        .before-image {
            clip: rect(0, 13.5vw, 19vw, 0);
        }
    }
    .two-column-grid.deluxe-grid.before-grid {
        .grid-patient {
            width: 27vw;
        }
    }
}
@media screen and (min-width: 2200px) {
    .before-grid {
        .grid-patient {
            width: 50vw;
        }
    }
    .before-grid.excerpt-grid,
    .before-grid.spacer-grid {
        .grid-patient {
            aspect-ratio: 1.3/1;
        }
    }
    .deluxe-grid.before-grid {
        .gallery-excerpt {
            font-size: 22px;
        }
    }
    .before-image {
        clip: rect(0, 25vw, 35vw, 0);
    }
}