.blog_big_small{padding: 40px 0 0px 0;}	
	.blog_big_small h2{text-align:left; padding: 0 5% 30px; font-weight: 600; color:$main-color; &:after {display:none;} span {font-weight: 800;display: inline;font-size: unset;padding: unset;line-height: unset;}}
	
	.hp-post{font-size: 16px;margin: 0 0 40px;}
		
		.hp-post-date{color: rgba($black,.5);font-size: 18px;font-weight: 600;line-height: 18px;text-align: center;width: 100px;float: left;margin: 0;}
      .hp-post-date::first-line{font-size: 14px;}
    
    .hp-post-content{display: block; overflow: hidden;}
			.hp-post-content h3{font-size:20px;color: $main-color;font-weight: 600;}
			  .hp-post-content h3 a:hover{color: $black;}
			.hp-post-content p{}
			.hp-post-content > a{color: $main-color; &:hover{color: rgba($main-color,1);text-decoration: underline;}}



@media all and (max-width: $bp-tablet) {
  
  .blog_big_small-right{display: none;}
  
}

@media all and (max-width: $bp-phablet) {
  
  .hp-post-date{width: auto;margin-right: 14px;padding-right: 14px;border-right: 1px solid rgba($black,.1);}
  
}


@media (min-width:480px) and (max-width:1199px) {
.blog_big_small .hp-post:last-child {
  display: block!important;
  width: 100%!important;
}
.blog_big_small .row .columns.six {
  width: 100%!important;
}
}
@media (min-width:1px) and (max-width:479px) {
.blog_big_small .hp-post:last-child {
  display: block!important;
  width: 100%!important;
}
.blog_big_small .row .columns.six {
  width: 100%!important;
}
}
