.breaker {padding:35px 0;text-align:center;}

	.breaker h2, .breaker p {color:$dk-grey;margin:0 0 0px;font-weight: 400;font-size:2em;line-height: 1.3;margin-top: -12px;margin-bottom: 20px;}
	.breaker a.btn{background-color: $white; margin-top: 0px; color:$main-color; &:hover {background-color: $black;color: $white;}}
	.breaker .hp-headline span, .breaker p {padding: 7px 0px 0px 0px;}
	
	.breaker .module-image:after{content:''; position:absolute;height:100%;width:100%;top:0;left:0;background-color: rgba($main-color,.85);}
		
//INVERT COLOR SCHEME
.breaker.invert h2{color: $white;}