.fold_slices {padding-bottom:0px;}

.fold-slices{overflow: hidden;background-color: $black; height:100%; &:after{content:"";position: absolute;top:0;left: 0;width: 100%;height: 200px;background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba($black,.7)),color-stop(1, rgba($black,0)));background-image: -o-linear-gradient(bottom, rgba($black,.7) 0%, rgba($black,0) 100%);background-image: -moz-linear-gradient(bottom, rgba($black,.7) 0%, rgba($black,0) 100%);background-image: -webkit-linear-gradient(bottom, rgba($black,.7) 0%, rgba($black,0) 100%);background-image: -ms-linear-gradient(bottom, rgba($black,.7) 0%, rgba($black,0) 100%);background-image: linear-gradient(to bottom, rgba($black,.7) 0%, rgba($black,0) 100%);z-index: 3;}}

.fold-slice{width: 100%;height:100%;background-size: cover;background-position: center center;float: left;position: relative;transition:width .4s;}
	.fold-slice .fold-overlay{opacity: 0;position: absolute;left: 0;top:0;width: 100%;height: 100%;transition: opacity .4s;z-index: 2;}
	.fold-slice:after{content:"";display: block;position: absolute;top:0;left:0;width: 100%;height: 100%;background-color: rgba($black,.8);transition: background .4s ease-in-out;z-index: 1;}
	.fold-slice:hover:after{background-color: rgba($black,.3);}
	
	// Active state
	.fold-slice.active{width: 60%;}
		.fold-slice.active .fold-overlay{opacity: 1;}
		.fold-slice.active:after{background-color: transparent;}
		.fold-slice.active .fold-slice-content{opacity: 1;}
	
	// Content styling
	.fold-slice-content{position: absolute;left: 0;bottom: 0;opacity: 0;transition: opacity .2s;width: 500px;z-index: 3;}
		.fold-slice-content h2{padding: 10px 10px 10px 60px;color: $white;display: inline-block;font-size: 40px;}
		.fold-slice-content p{padding-left: 60px;color: $white;}
		.fold-slice-content a{margin: 20px 0 60px 60px;}
	
@media all and (max-width: $bp-laptop) {
  .fold-slice{width: 10%;}
  .fold-slice.active{width: 80%;}
  	.fold-slice-content{width: 400px;}      
}

@media all and (max-width: $bp-phablet) { 
  	.fold-slice-content{width: 72vw;}
  		.fold-slice-content h2{font-size: 24px;padding-left: 5%;}
  		.fold-slice-content p{font-size: 13px;padding-left: 5%;}
  		.fold-slice-content a{margin: 20px 0 10% 5%;}
}    
      
      