.internal_fold_slider_2 {
    padding:0;

    .module-content {
        height:100%;
    }

    .fold-slide-text {
        .title {
            font-size: 56px;
            font-weight: 700;
            color: $main-color;
        }

        .subtitle {
            font-size: 32px;
            font-weight: 300;
            color: $white;
        }

        .title,
        .subtitle {
            line-height: 90%;
            text-transform: uppercase;
            margin: 0;
            &:after {
                content: '';
                width: 100px;
                height: 4px;
                background-color: $white;
                margin: 30px auto;
                display: none;
            }
        }

        p {
            margin-top: 20px;
        }

        p:last-child,
        p:nth-child(5) {
            font-weight: 400;
            font-size: 18px;
            line-height: 1.6;
            text-transform: none;
            margin: 0 0 1.5em;
        }

        a {
            margin-top: 28px;
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 3%;
        margin: 0 auto;
        padding: 0;
        right: 2%;
        width: 20px;
        border: 0;
        box-shadow: none;

        li button {
            margin-bottom: 7px;
        }

        li.slick-active button {
            background-color: $main-color;
            border-color: $main-color;
        }
    }

    .single_btn {
        margin-top: 30px;
    }
}
.internal_fold_slider_2 .fold-slide-text hr + p:nth-child(4),
.internal_fold_slider_2 .fold-slide-text .single_excerpt {
        margin-top: 20px;
        font-size: 18px;
}