.internal_static_photo_list {
    .static_photo_list-text {
        p.headline-bold {
            font-size: 28px;
            margin: 0;
            font-weight: bold;
            font-style: normal;
            padding: 30px 5% 0px;
            line-height: 116%;
            text-align: center;
            color: $main-color; 
            display: block;
        }

        .headline {
            span {
                display: block;
                font-weight: 600;
            }
        }

        p.spl-subtitle {
            font-weight: 600;
            font-style: italic;
            font-size: 16.4px;
        }
    }

    .static_photo_list-left {
        img {
            width: 100%;
            height: auto;
        }
    }

    .static_photo_list-right .headline-h3 {
        display: block;
        font-size: 1.17em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
        margin-top: 0;
        color: $main-color;
        margin-bottom: 5px;
    }
}