.module{position:relative;background-size: cover;background-position: center center;background-repeat: no-repeat;overflow: hidden; padding-bottom:70px;}
.module.spacer_module {padding-bottom:0;}
	.module-image{position: absolute;z-index: 1;width: 100%;height: 100%;top:0;left:0;background-color: transparent;}
		.module-image img{display:block;position: absolute; object-fit:cover; min-width: 100%;min-height: 100%;width: auto;height: auto;@include center(both);}
	.module-content{position: relative;z-index: 2;}

@media screen and (max-width: 767px) {
	.module-content {
		padding-bottom: max(0px, 70px) !important;
    	padding-top: min(0px, 70px) !important;
	}
}

input[name="RepeatEmailName"] {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	z-index: -1;
}