.module.static_image_split .module-content {
    padding: 70px 0;
}
.sis-container {
    display: flex;
    // max-height: 600px;
    padding-top: 70px;
}
.sis-side {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .fold-video {
        position: relative !important;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
    }

    .text-container {
        width: fit-content;
        display: grid;
        place-items: center;
        padding: 50px;
        position: absolute;
        z-index: 1;

        h3 {
            font-size: 36px;
        }

        .subtitle {
            font-size: 24px;
            color: $cta-color;
            margin: 0;
        }

        .excerpt {
            padding-left: 3em;
            padding-right: 3em;
        }

        .contact-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                color: $main-color;
            }

            + .btn {
                margin-top: 3em;
            }
        }
    }
    .schedule-form {
        background-color: transparent;

        form {
            input,
            textarea {
                background-color: lightgray;
            }

            textarea {
                width: 100% !important;
            }
    
            img {
                margin: 0 auto;
                padding-bottom: 24px;
            }
            
            button,
            .btn.solid {
                background-color: $main-color;
                color: $white;
                border: 2px solid $white;
            }
        }
    }

    // This is to hide the text container if the form is present
    script + .text-container {
        display: none;
    }

    .popup-youtube {
        iframe {
            max-width: 100%;
        }
    }

    .btn {
        background-color: $white;
        color: $main-color;
        border: 2px solid $main-color;
    }
}
@media screen and (min-width: 1200px) {
    video + img {
        display: none;
    }
}
@media screen and (max-width: 1439px) {
    .excerpt p > span {
        font-size: 38px !important;
    }
}
@media screen and (max-width: 1199px) {
    .module.static_image_split {
        .module-content {
            padding: 70px 0 0;
        }
    }
    .sis-container {
        flex-direction: column;
        max-height: unset;
        padding-top: unset;

        .sis-side {
            width: 100%;
            flex-direction: column;

            .fold-video {
                transform: unset !important;
                top: 0 !important;
                left: 0 !important;
            }

            .text-container {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 36px auto;
                position: relative;
                max-width: 74%;
    
                h3 {
                    font-size: 24px;
                }
        
                p {
                    font-size: 16px;
                }
    
                .contact-container {
                    .contact-option {
                        display: block;
                    }
    
                    + .btn {
                        margin-top: 1em;
                    }
                }

                .excerpt {
                    padding: 0;

                    p {
                        span {
                            text-align: center;
                        }
                    }
                }
            }
    
            .popup-youtube {
                iframe {
                    height: auto;
                }
            }
    
            div + .text-container,
            noscript + .text-container {
                position: absolute;
            }
        }
    }
}