.static_blocks_list{padding:0 0 0px;background-color: $white;padding-bottom: 30px;}

  .static_blocks_list-text{text-align: center;}
    .static_blocks_list-text h2 {padding: 30px 5% 0px;margin-bottom: 0px;line-height: 116%;text-align: center;color: $main-color; display: block;}
      .static_blocks_list-text h2 span, .static_blocks_list-text .module-subtitle {display: block;font-weight: 600;}
    .static_blocks_list-text .rte{max-width: 600px;margin: 0px auto 20px;}
    .invert .static_blocks_list-text .rte {color: #fff;}
  
  .static_blocks_list-left{width: 66%;float: left;@include clearfix();}
  
  .static_blocks_list-right{float: right;width: 30%;max-width: 400px;@include clearfix();}
    .static_blocks_list-right h3, .static_blocks_list-right .list-subtitle {margin-top: 0;color: $main-color;margin-bottom: 10px;}
    .static_blocks_list-right h3 span, .static_blocks_list-right .list-subtitle {
      display: block;
      padding: 3px 0px 0px 0px;
      font-size: 80%;
      font-style: italic;
      line-height: 130%;
    }
    .static_blocks_list-right p{}
    .static_blocks_list-right .rte {
      padding: 0;
      margin: 0px 0px 10px 0px;
    }
    .static_blocks_list-right ul{padding-left: 20px;}
    .static_blocks_list-right ul {
      margin-top: 0px;
    }
      .static_blocks_list-right ul li{}
        .static_blocks_list-right ul li a{color:$main-color; &:hover{color:darken( $main-color, 20% );text-decoration: underline;}} //extend arrow
    .static_blocks_list-right a.schedule{margin-bottom: 0; border:3px solid $main-color; color:$white; background-color: $main-color; &:hover {background-color: $white; color:$main-color;}}

/* MODULE 1 */ 
.block-set{}
  .block{display:block;position:relative;width: 32%;height:0;padding-bottom:26%;margin: 0 2% 2% 0;background-size:cover;background-position:center center;float: left;text-align: center;background-size: cover; &:nth-child(3n+3){margin-right: 0;}}
    .block p{color: $white;text-shadow: 0 0 5px rgba($black,.2);transition:opacity .4s;}
    .block p:nth-child(2){text-shadow: 2px 2px 25px rgba(0,0,0,70%);position: absolute;bottom:0;left: 0;width: 100%;padding: 20px;box-sizing: border-box;margin: 0;font-size: 22px; line-height: 24px; & i{display: block;font-size: 100%;margin-top: 10px;}}
    .block p:last-child{opacity:0;@include center(both);width: 90%;width: calc(100% - 40px);margin: 0;font-size: 18px;line-height: 180%;text-shadow: 2px 2px 25px rgba(0,0,0,70%);}
        
    /* hover state */
    .block:hover p:nth-child(2){opacity:0;}
    .block:hover p:last-child{opacity:1;} 

    /* invert */
    .invert .static_blocks_list-right p, .invert .static_blocks_list-text p, .invert .static_blocks_list-text a, .invert .static_blocks_list-right ul, .invert .static_blocks_list-right li {
      color: #fff;
    }
    .invert .static_blocks_list-right ul li a{color:#fff; &:hover{color:$white;}} 
    .invert .static_blocks_list-right a.schedule:hover {border-color: #fff;}
    
   
/* Media Queries */
@media all and (max-width: $bp-laptop) {  
  .static_blocks_list-left,.static_blocks_list-right{width: 100%;text-align: center;}
  .static_blocks_list-right{float: none;clear:both;margin: 0 auto;}
  .static_blocks_list-right h3{margin-top: 20px;font-size: 22px;}
  .static_blocks_list-right ul{padding: 0;list-style: none;}
}
 
@media all and (max-width: $bp-tablet) {
  .block{width: 49%;margin-right: 2%;padding-bottom: 30%; &:nth-child(3n+3){margin-right: 2%;} &:nth-child(2n+2){margin-right: 0;}}
}  

@media all and (max-width: $bp-phablet) {  
}    

@media all and (max-width: $bp-phone) {  
  .block{width: 100%;margin: 0 0 20px;padding-bottom: 55%;}
  .block p:last-child {
    opacity: 1;
    top: 75%;
  }
  .block p:nth-child(2) i {
    visibility: hidden;
  }
  .block p:nth-child(2) {
  bottom: unset;
  top: 42%;
  font-weight: 600;
  }
  .block:hover p:nth-child(2) {
    opacity: 1;
  }
}