.static-header-styling { color: blue; font-size: 15px; font-weight: bold; padding: 10px; margin: auto; }


.static-header-styling-align-left {text-align:left;}
.static-header-styling-align-center {text-align:center;}
.static-header-styling-align-right {text-align:right;}