/*==========================================================================================================================
GENERAL ELEMENTS ===========================================================================================================
==========================================================================================================================*/

html {font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html,input,select,textarea{font-family: $body-font;}
body {margin: 0;padding: 0;}
a,button{text-decoration: none;color: inherit;
transition: color .35s, background-color .35s, border-color .35s, opacity .35s;
-moz-transition: color .35s, background-color .35s, border-color .35s, opacity .35s;
-webkit-transition: color .35s, background-color .35s, border-color .35s, opacity .35s;
-ms-transition: color .35s, background-color .35s, border-color .35s, opacity .35s;
-o-transition: color .35s, background-color .35s, border-color .35s, opacity .35s;}
	a:hover{}
p, ul, ol, label{font-size: 16px;line-height: 1.6; color:$body-color;}
h1,h2,h3,h4,h5,h6{color: $heading-color; font-family: $heading-font;line-height: 1.1;margin-top: 0;margin-bottom: 0;}
p+h2,p+h3,p+h4,p+h5,p+h6{margin-top: 1.5em;}
hr{padding-bottom:1px; background-color:$md-lt-grey; border:none;}

//headlines global styles
h2.headline-skinny, p.headline-skinny{ font-size: 44px; display: block; padding: 30px 5% 10px; box-sizing: border-box; text-align: center; line-height: 112%; font-weight: 300; color: $main-color; text-transform: $headline_case; .invert & {color:$white;} &.span{font-weight:600;}}
h2.headline-bold, p.headline-bold{ font-size: 28px; margin: 0; text-transform: uppercase; text-transform: $headline_case; line-height: 130%; color: $black; padding: 30px 5% 10px; text-align: center; &.span{font-weight:400;} .invert & {color:$white;} &:after{ content: ''; display: block; width: 40px; height: 3px; background-color: $main-color; margin: 10px auto 10px auto;}}
h2.headline-skinny span, h2.headline-bold span, p.headline-bold, p.headline-skinny {display:block;padding:7px 0px 0px 0px;font-size:60%;font-style: italic;line-height:130%;position:relative;}
p.headline-bold {font-size: 16.4px;}
p.headline-skinny {font-size: 26.4px}
.hp-headline span {
    display: block;
    font-size: 60%;
    font-style: italic;
}

//page numbers
.page-numbers.current {
    background-color: transparent;
    border: 2px solid $main-color;
    color: $main-color;
}
.page-numbers:hover {
    background-color: transparent;
    border: 2px solid $main-color;
    color: $main-color;
}
.page-numbers {
    background-color: $main-color;
    color: #ffffff;
    border-radius: 3px;
    border: 2px solid $main-color;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

